{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - création de l'équipe{% endblock %}
{% block main %}
    <div style="text-align: center">
        <h3>Choisissez l'équipe à supprimer.</h3>
        {{ form_start(formTeam) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">{{ form_label(formTeam.teamName) }}</label>
            </div>
            {{ form_widget(formTeam.teamName) }}
        </div>
            {{ form_errors(formTeam.teamName) }}

        <button type="submit" class="buttonArticle btn btn-primary">Supprimer</button>
        {{ form_end(formTeam) }}
    </div>
{% endblock %}