{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - test{% endblock %}
{% block main %}

    <ul class="list-group">
    {% for merge in merges %}
        <li class="list-group-item">
            auteur : {{ merge.author.name }}. {{ merge.status }}. <span class="badge badge-primary badge-pill">up={{ merge.upvotes }}; down={{ merge.downvotes }}</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}