{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - film{% endblock %}
{% block main %}
    <ul>
        {% for key, film in films %}

            <li>
                {% if loop.index%10==1 %}
                    {{ loop.index }}
                {% endif %}

                <img src="{{ film.img }}" alt="{{ film.img }}"> {{ film.title|upper }}, type: {{ film.content }},
                {% if film.rates >=4  %}
                    les meilleurs
                {% elseif film.rates >=2 and film.rates<4  %}
                    pas trop mal
                {% else %}
                    à oublier
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}