{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} -  assigner projet-équipe{% endblock %}
{% block main %}
    <div style="text-align: center">
        <h3>retirer assignation d'une équipe à un/des projets</h3>
        {{ form_start(formTeam) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">{{ form_label(formTeam.teamName) }}</label>
            </div>
            {{ form_widget(formTeam.teamName) }}
        </div>
        {{ form_errors(formTeam.teamName) }}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">{{ form_label(formTeam.name) }}</label>
            </div>
            {{ form_widget(formTeam.name) }}
        </div>
        {{ form_errors(formTeam.name) }}

        <button type="submit" class="buttonArticle btn btn-primary">Envoyer</button>
        {{ form_end(formTeam) }}
    </div>
{% endblock %}