{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} -  assigner projet-équipe{% endblock %}
{% block main %}
    {{ form_start(formTeam) }}

    {{ form_row(formTeam.teamName) }}
    {{ form_row(formTeam.name) }}

    <button type="submit" class="buttonArticle">Envoyer</button>
    {{ form_end(formTeam) }}
{% endblock %}