<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} symfoExo {% endblock %}</title>
        {% block css %}{% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            .marginChild > a {margin: 5px; color: lightblue;transition: color ease .4s;}
            .marginChild > a:hover {color: white;}
            .flexCenter{width: 20%;min-width: 200px;border: 2px darkslategrey groove;transition: background ease .4s;
            border-radius: 10px;box-shadow: rgb(50, 50, 50) 2px 2px;}
            .flexCenter:hover{background: hsl(187, 52%, 89%);}
        </style>
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                <a class="navbar-brand" href="#">
                    <h1>#BalanceTaMR</h1>
                </a>
                <div class="collapse navbar-collapse marginChild">
                    <a class="nav-link" href="{{ path('getMerges') }}">Les merges</a>
                    <a class="nav-link" href="{{ path('getProject') }}">Les projets</a>
                    <a class="nav-link" href="{{ path('assignProject') }}">Assigner des Projets</a>
                    <a class="nav-link" href="{{ path('disassignProject') }}">supprimer un projet d'une équipe</a>

                    <a class="nav-link" href="{{ path('createTeam') }}">Créer équipe</a>

                    <a class="nav-link"  href="{{ path('setTeam') }}">Mettre à jour équipe</a>
                    <a class="nav-link"  href="{{ path('delTeam') }}">Supprimer équipe</a>
                    <a class="nav-link" href="{{ path('getTeam') }}">voir les équipes</a>
                    <a class="nav-link" href="{{ path('selectTeamMerges') }}">voir MR d'une équipe</a>

                </div>
            </nav>
        </header>
        <main>
            {% block main %} {% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>