{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - création de l'équipe{% endblock %}
{% block main %}
    <div style="text-align: center">
        <h3>Choisissez l'équipe dont vous souhaitez voir les MR</h3>

        {{ form_start(formTeam) }}
            <div>
                {{ form_label(formTeam.teamName) }}<br>
                {{ form_widget(formTeam.teamName) }}
            </div>
            {{ form_errors(formTeam.teamName) }}

            <button type="submit" class="buttonArticle btn btn-primary">Envoyer</button>
        {{ form_end(formTeam) }}
    </div>
{% endblock %}